<!DOCTYPE html>
<html ng-app="PouchPutDemo">
  <head>
    <title>angular-pouchdb-put demo</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/pouchdb/dist/pouchdb.js"></script>
    <script src="bower_components/angular-pouchdb/angular-pouchdb.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/people_controller.js"></script>
    <script src="app/services/people_service.js"></script>
  </head>
  <body>
    <h1>angular-pouchdb-put demo</h1>
    <div ng-controller="PeopleController">
      <h2>All {{ allPeople.length }} people:</h2>
      <ul>
        <li ng-repeat="person in allPeople">
          <input type="text" ng-model="person.doc.name" />
          <input type="text" ng-model="person.doc.country" />
          <button ng-click="updatePerson($index)">Update</button>
        </li>
      </ul>
      <h2>Add new person:</h2>
      <form ng-submit="addPerson()">
        <label>
          Name:
          <input type="text" ng-model="newPerson.name" />
        </label>
        <label>
          Country:
          <input type="text" ng-model="newPerson.country" />
        </label>
        <input type="submit" value="Save" />
      </form>
    </div>
  </body>
</html>
